<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Teste">
    <test verbose="2" preserve-order="true" parallel="true"
          name="/Users/daniel/IdeaProjects/Helin-QAC-g1-17-11-22/src/test">
        <classes>
            <class name="org.skillbrain.danielIrimia.EmagPageTest" />
            <class name="org.skillbrain.danielIrimia.ButtonsTest"/>
            <class name="org.skillbrain.danielIrimia.EmagSecondTest"/>
            <class name="org.skillbrain.danielIrimia.TestNG.LoginTest"/>
        </classes>
    </test>
</suite>