<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Teste Emag">
    <test verbose="2" preserve-order="true"
          name="C:/Users/panaitStelian/IdeaProjects/Test/Helin-QAC-g1-17-11-22/src/test">
        <classes>
            <class name="org.skillbrain.EmagPageTest">

            </class>
        </classes>
    </test>
</suite>