<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Teste Emag">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Asus/Desktop/Helin/src/test/java/org/skillbrain/radulescuTeodor">
        <classes>
            <class name="org.skillbrain.radulescuTeodor.EmagPageTest">
                <methods>

                </methods>
            </class>
        </classes>
    </test>
</suite>