<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/stelu/IdeaProjects/Helin-QAC-g1-17-11-22/src/test/java">
        <classes>
            <class name="org.skillbrain.danaCatavei.eMagPageTest">
                <methods>
                    <include name="emagPageTest"/>
                    <include name="secondTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>