# Default ignored files
/shelf/
.idea/
/workspace.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/misc.xml
/vcs.xml

/out/
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr
/target/
/drivers/
/Helin-QAC-g1-17-11-22.iml
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/org/.DS_Store
src/main/java/org/skillbrain/.DS_Store

